<app-header></app-header>
<main>
    <div class="grid-container">
        <div class="grid-item">
            <img class="images-menu" src="imageness/menus/menu-1.jpg" alt="">
        </div>
        <div class="grid-item">
            <img class="images-menu" src="imageness/menus/menu-2.jpg" alt="">
        </div>
        <div class="grid-item">
            <img class="images-menu" src="imageness/menus/menu-3.jpg" alt="">
        </div>
        <div class="grid-item">
            <img class="images-menu" src="imageness/menus/menu-4.jpg" alt="">
        </div>
        <div class="grid-item">
            <img class="images-menu" src="imageness/menus/menu-5.jpg" alt="">
        </div>
        <div class="grid-item">
            <img class="images-menu" src="imageness/menus/menu-6.jpg" alt="">
        </div>
        <div class="grid-item">
            <img class="images-menu-main" src="imageness/menus/menu-7.jpg" alt="">
        </div>
        <div class="grid-item">
            <img class="images-menu-main" src="imageness/menus/menu-8.jpg" alt="">
        </div>
    </div>
</main>
<app-footer></app-footer>