<app-header></app-header>

<body>
    <section class="contact">
        <div class="u-wrapper">
          <div class="contact-content">
    
            <form id="form" action="" class="form">
              <h3 class="tag"><span>ENVIANOS TU MENSAJE, Y TE DAREMOS PRESUPUETO.</span></h3>
              <label for="name">Nombre Completo <span>*</span></label>
              <input name="name" required type="text" id="name" placeholder="Juan">
              <label for="email">Correo electrónico <span>*</span></label>
              <input name="email" type="text" id="email" required placeholder="juan@gmail.com">
              <label for="message">Mensaje</label>
              <textarea id="message" name="message" id="" cols="30" rows="10"></textarea>
              <button type="submit" class="btn primary full">enviar mensaje</button>
            </form>
            <a href="mailto:henaoleniscaterine@gmail.com" id="trucazo"></a>
          </div>
        </div>
      </section>

    
  <script>
    const $form = document.querySelector('#form')
        const $buttonMailto = document.querySelector('#trucazo')
    
        $form.addEventListener('submit', handleSubmit)
    
        function handleSubmit(event) {
          event.preventDefault()
          const form = new FormData(this)
          console.log(form.get("name"))
          $buttonMailto.setAttribute('href', `mailto:henaoleniscaterine@gmail.com?subject=nombre ${form.get('name')}  correo ${form.get('email')}&body=${form.get('message')}`)
          $buttonMailto.click()
        }
  </script>
    
    
    </body>  


<app-footer></app-footer>
